.items {
    margin-top: 10px;
}

.item {
    display: inline-block;
    margin-left: 10px;
}

.itemImgButton {
    width: 70px;
}

.itemInfo {
    border: 1px black solid;
    border-radius: 5px;
    padding: 10px;
    margin-top: 6px;
    vertical-align: top;
}

.location {
    text-align: right;
}

.selectPage {
    font-weight: bold;
}