$bgColor: #e44d3a;
$bgButton: #efefef;
$colorSearch: #b2b2b2;
$twoColor: #666666;
$bgLogin: #E75348;

$white: #fff;

@mixin circle($widthHeight) {
  background-color: $white;
  width: $widthHeight;
  height: $widthHeight;
  border-radius: 50px;
  position: absolute;
}

@mixin loginButton($bgColor, $color, $transition) {
  background-color: $bgColor;
  color: $color;
  font-size: 14px;
  font-weight: 500;
  padding: 7px 10px;
  border: none;
  outline: none;
  cursor: pointer;
  transition-duration: $transition;
}


@mixin preloader($widthHeight, $border, $sec) {
  width: $widthHeight;
  height: $widthHeight;
  border: $border;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation $sec linear infinite;

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

@mixin menu($width) {
  background-color: $white;
  position: absolute;
  top: 56px;
  width: $width;
  color: #000000;
  font-size: 14px;
  border-left: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  border-radius: 0 0 5px 5px;
  box-shadow: 1px 1px 6px -2px rgb(0 0 0 / 24%);
  z-index: 4;
}


