@import "../../../../common/styles/Variablies";

.form {
  @include borderBox();
  border-top: 5px $bgColor solid;
  height: 122px;
  display: flex;
  justify-content: space-between;
  padding: 30px 20px;
  margin-bottom: 25px;

  .titleBox {
    width: 320px;

    textarea {
      @include inputTextarea();
      height: 55px !important;
      resize: none;
      text-align: left;
    }
  }

  .button {
    @include loginButton($bgColor, $white, 0.3s);
    box-shadow: 0 5px 15px rgb(0 0 0 / 15%);
    border-radius: 5px;
    width: 130px;
    height: 40px;
    font-size: 16px;
    position: relative;
    margin-top: 5px;

    &:hover {
      box-shadow: 0 5px 15px rgb(0 0 0 / 30%);
    }

    svg {
      fill: $white !important;
      width: 18px;
      height: 18px;
      position: relative;
      top: 3px
    }

    .span {
      font-size: 16px;
      margin-left: 8px;
    }
  }
}