@import "./../../../common/styles/Variablies";

.infoContentComponent {
  width: 230px;

  .repairBox {
    @include borderBox();
    padding: 30px 5px;
  }

  .newsBox {
    @include borderBox();
    margin-top: 20px;
  }
}