.aboutMe {
    display: inline-block;
}

.job {
    display: inline-block;
}

h4 {
    margin: 0;
}

.contacts {
    display: flex;
    flex-direction: column;
    margin-top: 10px;

}

.formSummeryError {
    display: inline-block;
    border: red 1px solid;
    padding: 5px;
    color: red;
}