.header {
    grid-area: header;
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img {
    height: 50px;
}

.text {
    font-size: 18px;
    font-weight: bold;
}

.text a {
    color: black;
}


.title {
    font-size: 18px;
    font-weight: bold;
}

.title button {
    margin-left: 10px;
}