.imgProfile {
    width: 991px;
    height: 200px;
    border-radius: 20px;
}

.profileInfo {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.ava img {
    width: 300px;
    height: 300px;
    border-radius: 20px;
}

.info {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.name {
    margin: 0;
}

.aboutMe {
    display: inline-block;
}

.job {
    display: inline-block;
}

h4 {
 margin: 0;
}

.contacts {
    display: flex;
    flex-direction: column;
    margin-top: 10px;

}