.navBar {
    grid-area: navBar;
    background-color: cadetblue;
    padding: 20px;
}

.item a {
    color: white;
    text-decoration: none;
}
.item a.activeLink{
    color: gold;
}

h3 {
    margin-bottom: 5px;
}

.friends {
    margin-top: 50px;
}

.friendsItem {
    display: inline-block;
    margin:10px;
    text-align: center;
}

.friendsItem img {
    width: 50px;
    border-radius: 20px;
}